services:
  api:
    build: ./api_gateway/
    container_name: api_gateway
    environment:
      - NODE_ENV=${NODE_ENV}
      - LOG_LEVEL=${LOG_LEVEL}
      - CONTENT_PROCESSING_SERVICE_URL=http://content-processing:${CONTENT_PROCESSING_PORT}
      - PORT=${API_GATEWAY_PORT}
    # depends_on:
    #   - content-processing
    ports:
      - "${API_GATEWAY_PORT}:${API_GATEWAY_PORT}"

  # content-processing:
  # build: ./content-processing
  # container_name: content-service
  # environment:
  #   - LOG_LEVEL=${LOG_LEVEL}
  # ports:
  #   - "${CONTENT_PROCESSING_PORT}:4001"
