services:
  api-gateway:
    build: ./api-gateway/
    container_name: api-gateway
    environment:
      - NODE_ENV
      - LOG_LEVEL
      - CONTENT_PROCESSING_SERVICE_URL=http://content-processing:${CONTENT_PROCESSING_PORT}
      - CONTENT_STORAGE_SERVICE_URL=http://content-storage:${CONTENT_STORAGE_PORT}
      - PORT=${API_GATEWAY_PORT}
    depends_on:
      - content-processing
    ports:
      - "${API_GATEWAY_PORT}:${API_GATEWAY_PORT}"
    networks:
      - backend-net

  user-service:
    build: ./user-service
    container_name: user-service
    environment:
      - PORT=${USER_SERVICE_PORT}
      - USER_DB_DATABASE_NAME
      - USER_DB_USERNAME
      - USER_DB_PASSWORD
      - USER_DB_PORT
      - USER_DB_HOST=user-db
      - REDIS_PORT=${REDIS_USERS_PORT}
      - REDIS_HOST=redis
      - JWT_SECRET_KEY=${USER_DB_JWT_SECRET_KEY}
      - JWT_ACCESS_TOKEN_EXPIRATION=${USER_DB_JWT_ACCESS_TOKEN_EXPIRATION}
      - JWT_REFRESH_TOKEN_EXPIRATION=${USER_DB_JWT_REFRESH_TOKEN_EXPIRATION}
    ports:
      - "${USER_SERVICE_PORT}:${USER_SERVICE_PORT}"
    networks:
      - backend-net
    depends_on:
      - user-db
      - redis-users
      - mail-dev

  content-processing:
    build: ./content-processing
    container_name: content-processing
    environment:
      - PORT=${CONTENT_PROCESSING_PORT}
    ports:
      - "${CONTENT_PROCESSING_PORT}:${CONTENT_PROCESSING_PORT}"
    networks:
      - backend-net

  content-storage:
    build: ./content-storage
    container_name: content-storage
    environment:
      - NODE_ENV
      - LOG_LEVEL
      - PORT=${CONTENT_STORAGE_PORT}
      - MONGO_URL=mongodb://${CONTENT_DB_USERNAME}:${CONTENT_DB_PASSWORD}@content-storage-db:27017/content-data?authSource=admin
      - CONTENT_PROCESSING_SERVICE_URL=http://content-processing:${CONTENT_PROCESSING_PORT}
    depends_on:
      - content-storage-db
      - content-processing
    ports:
      - "${CONTENT_STORAGE_PORT}:${CONTENT_STORAGE_PORT}"
    networks:
      - backend-net

  content-storage-db:
    image: mongo:8
    container_name: content-storage-db
    volumes:
      - ./persistence.local/content-storage-db:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${CONTENT_DB_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${CONTENT_DB_PASSWORD}
    ports:
      - "${CONTENT_DB_PORT}:${CONTENT_DB_PORT}"
    networks:
      - backend-net

  user-db:
    image: "postgres:18"
    ports:
      - "${USER_DB_PORT}:${USER_DB_PORT}"
    environment:
      - POSTGRES_USER=${USER_DB_USERNAME}
      - POSTGRES_PASSWORD=${USER_DB_PASSWORD}
      - POSTGRES_DB=${USER_DB_DATABASE_NAME}
    networks:
      - backend-net
    volumes:
      - ./persistence.local/user-db:/var/lib/postgresql

  redis-users:
    image: redis:latest
    container_name: redis-users
    ports:
      - "${REDIS_USERS_PORT}:${REDIS_USERS_PORT}"
    volumes:
      - ./persistence.local/redis-data:/data

  mail-dev:
    container_name: ms-mail-dev-new
    image: maildev/maildev
    ports:
      - "1080:1080"
      - "1025:1025"
    networks:
      - backend-net
    restart: unless-stopped

  redis-curation:
    image: redis:latest
    container_name: redis-curation
    ports:
      - "${REDIS_CURATION_PORT}:${REDIS_CURATION_PORT}"
    volumes:
      - ./persistence.local/redis-data:/data

volumes:
  persistence.local:

networks:
  backend-net:
    driver: bridge
